@import "reset";
@import "variables";

*, *:before, *:after{
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after{
	content: "";
	display: block;
	clear: both;
}


body{
	color: $globalBody;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}
header {
	background-color: $primaryColor;
	img{
		width: 250px;
		background-color: white;
		padding: 10px;
		border-radius: 3px;
		margin: 0 auto;
		display: block;
	}
	li{
		display: inline-block;
		width: 25%;
		font-size: 20px;
		float: left;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		a{
			transition: color 150ms ease-in-out;
			color: hsla(209, 76%, 61%, 0.5);
			&:hover {
				color: hsla(209, 76%, 61%, 1);
			}
		}
	}
}

.hero{
	height: 250px;
	background-image: url("../img/sky.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

main{
	background-color: $mainColor;
	//overflow: hidden;
	padding-bottom: 60px;
	position: relative;
	img{
		display: block;
		width: 20%;
		position: absolute;
		left: 15%;
		right: 20px;
		border-radius: 50%;
		padding: 10px;
		background-color: #aeaeae;
		border: 1px solid #444;
		transition: left 200ms ease-in-out;
		&:hover {
			left: 5%;
		}
	}


	article{
		float: right;
		position: relative;
		background-color: $articleColor;
		z-index: 1;
		width: 70%;
		margin-bottom: 60px;
		margin-right: 10%;
		padding: 0 40px 60px;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100px;
			background-color: white;
			position: absolute;
			left: 0;
			top: -100px;
			background-image: url("../img/mail.png");
			background-repeat: repeat-x;
		}
		h1{
			font-size: 40px;
			margin-bottom: 60px;
			// &:before {
			// 	content: "hello there!";
			// }
			// &:after {
			// 	content: "well i didnt want to talk to you anyway"
			// }
		}
		p{
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 30px;
		}
		h2{
			font-size: 30px;
			font-family: 'Homemade Apple', cursive;
			text-align: right;
		}
	}
}



footer{
	background-color: $footerColor;
	padding: 20px;
	p{
		color: #777;
	}
	
}